.mask {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mask .loader {
  margin: auto;
  width: 75px;
  height: 75px;
  border: 10px solid rgba(220, 86, 198, 0);
  border-radius: 50%;
  border-left-color: #DC56C5;
  animation: loader 1s linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  opacity: 0;
}

header {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  background-blend-mode: darken;
}
@media screen and (min-width: 480px) {
  header {
    height: 364px;
    background: rgba(11, 11, 11, 0.5);
    background-image: url("../images/hero-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  header {
    background-image: url("../images/hero-desktop.jpg");
    height: 450px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .search {
    position: relative;
    bottom: 80px;
  }
}

.search-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .search-inputs {
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .search-inputs {
    margin-top: 45px;
  }
}

.logo-container {
  width: 115px;
  height: 95px;
  background-color: #000;
  border-radius: 0 0 305px 0;
  background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media screen and (min-width: 768px) {
  .logo-container {
    width: 190px;
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-container {
    width: 220px;
    height: 200px;
  }
}

.svg-logo {
  position: relative;
  right: 100px;
  bottom: 15px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .svg-logo {
    right: 70px;
    bottom: 25px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .svg-logo {
    height: 240px;
    right: 55px;
  }
}

.search-header {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  width: 212px;
  color: #DC56C5;
  margin-bottom: 25px;
}
@media screen and (min-width: 480px) {
  .search-header {
    font-size: 25px;
    width: 300px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .search-header {
    font-size: 30px;
    width: 353px;
    line-height: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .search-header {
    font-size: 50px;
    width: 600px;
    line-height: 61px;
  }
}

.search-form {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 0 10px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .search-form {
    margin-bottom: 0;
  }
}

.search-by-s, .search-by-country {
  background-color: rgba(255, 255, 255, 0.2);
  height: 20px;
  width: 158px;
  border-radius: 20px 0 0 20px;
  padding: 10px 30px;
  border: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}
.search-by-s:focus, .search-by-country:focus {
  outline: 0;
}

.search-by-s-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 52px;
  padding: 0 30px 0 10px;
  border: 0;
  cursor: pointer;
  border-radius: 0 40px 40px 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.search-by-s-btn:hover {
  fill: white;
}

.icon {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 12px;
  height: 12px;
  fill: #939393;
}

.search-by-country {
  width: 270px;
  height: 40px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .visuali_hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1111px) {
  .visuali_hidden2 {
    display: none;
  }
}
@media screen and (min-width: 1112px) and (max-width: 1600px) {
  .visuali_hidden3 {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
  }
  .modal-window {
    position: absolute;
    background-color: #FFF2FD;
    width: 272px;
    height: 880px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    left: 0%;
    top: 0%;
  }
  .svg-close {
    color: #4C00FE;
    font-size: 28px;
    font-weight: bold;
    margin-left: 230px;
    margin-top: 25px;
  }
  .svg-close:hover, .svg-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .head-image {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head-image img {
    height: 90px;
    width: 90px;
    border-radius: 100%;
  }
  .main-image {
    display: none;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #DC56C5;
  }
  .info p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #0E0E0E;
    margin-top: 5px;
    width: 243px;
  }
  .when {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .when h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #DC56C5;
    margin-top: 10px;
  }
  .when p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 4px;
  }
  .where {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .where h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #DC56C5;
    margin-top: 10px;
  }
  .where p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 4px;
  }
  .who {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .who h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #DC56C5;
    margin-top: 10px;
  }
  .who p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 4px;
  }
  .prices {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #DC56C5;
    margin-top: 10px;
  }
  .standart-ticket {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  .standart-ticket svg {
    height: 16px;
    margin-right: 13px;
  }
  .standart-ticket p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
  }
  .vip-ticket {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .vip-ticket svg {
    height: 16px;
    margin-right: 13px;
  }
  .vip-ticket p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
  }
  .buy-tickets {
    background: #4C00FE;
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 19px;
    border: solid 1px #4C00FE;
    margin-top: 10px;
  }
  .buy-tickets:active {
    color: #4C00FE;
    background-color: #FFFFFF;
    border-color: #4C00FE;
    font-weight: 600;
  }
  .more-information button {
    border: 1px solid #4C00FE;
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #4C00FE;
    background-color: white;
    padding: 3px 10px;
    height: 40px;
    margin-top: 25px;
    margin-left: 13px;
  }
  .more-information button:active {
    border: 2px solid #DC56C5;
  }
  .main-section1 {
    display: flex;
    justify-content: center;
  }
  .list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 320px;
  }
  .event {
    width: 138px;
    height: 242px;
    list-style: none;
    padding: 10px 9px 0 0;
    margin-bottom: 33px;
  }
  .event:nth-child(odd) {
    margin-left: 10px;
  }
  .event-19 {
    margin-bottom: 0;
  }
  .event-20 {
    margin-bottom: 0;
  }
  .ramka-event {
    width: 108px;
    height: 101px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;
    margin-bottom: -99px;
    margin-left: 30px;
    box-sizing: border-box;
  }
  .event img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 128px;
    height: 161px;
    border-radius: 50px 0px;
  }
  .event h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #DC56C5;
    margin-top: 5px;
  }
  .event h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 5px 0;
  }
  .event p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
  }
  .event-21 {
    display: none;
  }
  .nav-bar {
    margin-top: 25px;
  }
  .ul-nav-bar {
    display: flex;
    justify-content: center;
  }
  .p-nav {
    width: 6px;
    height: 17px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  .p-nav6 {
    width: 9px;
  }
  .p-nav7 {
    width: 17px;
  }
  .li-nav {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 10px 0;
    transition: 0.3s border ease-in-out;
  }
  .li-nav:last-child {
    margin-right: 0;
  }
  .li-nav:hover {
    border: 1px solid #DC56C5;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 595px;
    height: 831px;
  }
  .svg-close {
    margin-top: 20px;
    margin-left: 543px;
  }
  .center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 36px;
  }
  .head-image {
    height: 103px;
  }
  .main-image {
    display: block;
  }
  .main-image img {
    height: 416px;
    width: 233px;
  }
  .info {
    display: flex;
    align-items: flex-start;
  }
  .info p {
    width: 265px;
    height: 100px;
    text-align: start;
  }
  .when {
    align-items: flex-start;
  }
  .where {
    align-items: flex-start;
  }
  .who {
    align-items: flex-start;
  }
  .prices {
    align-items: flex-start;
  }
  .more-information {
    margin-top: 13px;
    margin-left: 165px;
  }
  .list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
  }
  .event {
    width: 196px;
    height: 312px;
    list-style: none;
    padding: 13px 14px 0 0;
    margin-bottom: 60px;
  }
  .event:nth-child(odd) {
    margin-left: 0;
  }
  .ramka-event {
    width: 153px;
    height: 143px;
    margin-bottom: -130px;
    margin-left: 40px;
  }
  .event img {
    width: 180px;
    height: 227px;
  }
  .event h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .event h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .event p {
    font-size: 14px;
    line-height: 17px;
  }
  .event-21 {
    display: block;
  }
  .nav-bar {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 930px;
    height: 1023px;
  }
  .svg-close {
    margin-left: 875px;
  }
  .main-image img {
    height: 641px;
    width: 360px;
  }
  .info h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .info p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 450px;
    height: 66px;
  }
  .when h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .when p {
    font-size: 18px;
  }
  .where h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .where p {
    font-size: 18px;
  }
  .who h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .who p {
    font-size: 18px;
  }
  .prices h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .prices p {
    font-size: 18px;
  }
  .buy-tickets {
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .more-information {
    margin-left: 357px;
    margin-top: 45px;
  }
  .list-cards {
    width: 1112px;
  }
  .event {
    margin-bottom: 50px;
    margin-right: 56px;
  }
  .event h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .event h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .event p {
    font-size: 14px;
    line-height: 17px;
  }
  .event-21 {
    display: none;
  }
  .event:nth-child(4n) {
    margin-right: 0;
  }
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.nav-bar {
  margin-top: 3%;
}

@media screen and (min-width: 320px) {
  main {
    height: 3005PX;
    background-color: black;
  }
}
@media screen and (min-width: 768px) {
  main {
    height: 2850PX;
    background-image: url("../images/bg-body-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1112px) {
  main {
    height: 2160PX;
    background-image: url("../images/bg-body.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
footer {
  margin: 0;
  padding: 0;
}
footer div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
footer div a {
  color: #939393;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  transition: 0.5s color ease-in-out;
}
footer div a:hover {
  color: #1174ad;
}

footer {
  margin: 0;
  background-image: url("../images/bg-body.jpg");
  background-position: initial;
  background-size: 2670px auto;
}
@media screen and (min-width: 480px) {
  footer div {
    padding: 1%;
  }
}
@media screen and (min-width: 1200px) {
  footer div {
    padding: 2%;
  }
}/*# sourceMappingURL=index.css.map */