h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 480px) and (max-width: 767px){
    .visuali_hidden{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1111px){
    .visuali_hidden2{
        display: none;
    }
}
@media screen and (min-width: 1112px) and (max-width: 1600px){
    .visuali_hidden3{
        display: none;
    }
}