footer{
    margin: 0;
    padding: 0;
    div{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        a{
        color: #939393;
        font-weight: 400;
        font-size: 1em;
        text-decoration:none; 
        transition: .5s color ease-in-out;
            &:hover{
                color: #1174ad;

            }
    }
}
}