.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (min-width:768px) {
        position: relative;
        bottom: 80px; 
    }
}


.search-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    @media screen and (min-width:768px) {
        flex-direction: row;
        gap: 30px;    
    }
    @media screen and (min-width:1200px) {
        margin-top: 45px;
    }
}

.logo-container{
    width: 115px;
    height: 95px;
    background-color: #000;
    border-radius: 0 0 305px 0;
    background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
    backdrop-filter: blur(15px);
    @media screen and (min-width:768px) {
        width: 190px;
        height: 175px;
    }
    @media screen and (min-width:1200px) {
        width: 220px;
        height: 200px;
    }
}
.svg-logo{
    position: relative;
    right: 100px;
    bottom: 15px;
    height: 120px;
    @media screen and (min-width:768px) {
        right: 70px;
        bottom: 25px;
        height: 200px;
    }
    @media screen and (min-width:1200px) {
        height: 240px;
        right: 55px;
    }
}
.search-header{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    width: 212px;
    color: #DC56C5;
    margin-bottom: 25px;
    @media screen and (min-width:480px) {
        font-size: 25px;
        width: 300px;
        line-height: 30px;
    }
    @media screen and (min-width:768px) {
        font-size: 30px;
        width: 353px;
        line-height: 37px;
    }
    @media screen and (min-width:1200px) {
        font-size: 50px;
        width: 600px;
        line-height: 61px;
    }
}

.search-form{
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0 10px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 25px;
    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
}
.search-by-s{
    background-color: rgba(255, 255, 255, 0.2);
    height: 20px;
    width: 158px;
    border-radius: 20px 0 0 20px;
    padding: 10px 30px;
    border: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #939393;
    &:focus{
        outline: 0;
    }
}

.search-by-s-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 52px;
    padding: 0 30px 0 10px;
    border: 0;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
    background-color: rgba(255, 255, 255, 0.2);
    &:hover{
        fill: white;
    }
}

.icon{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 12px;
    height: 12px;
    fill: #939393;
}

.search-by-country{
    @extend .search-by-s;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
