@media screen and (min-width: 320px){
    // ==================================================== modals ===================================================================
    .modal {
        display: none;
        position: fixed;
        overflow: auto;
        z-index: 1;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        justify-content: center;       

        &-window {
            position: relative;
            top: 2%;
            background-color: #FFF2FD;
            width: 272px;
            height: 880px;
            border-top-left-radius: 150px;
            border-bottom-right-radius: 150px;
        }
    }

    .svg-close {
        color: #4C00FE;
        font-size: 28px;
        font-weight: bold;
        margin-left: 230px;
        margin-top: 25px;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .head-image{
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
     
    
        & img {
            height: 90px;
            width: 90px;
            border-radius: 100%;
        }
    }

    .main-image {
        display: none;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #DC56C5;
        }

        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #0E0E0E;
            margin-top: 5px;
            width: 243px;
        }
    }

    .when {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #DC56C5;
            margin-top: 10px;
        }

        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #0E0E0E;
            margin-top: 4px;
        }
    }

    .where {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #DC56C5;
            margin-top: 10px;
        }

        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #0E0E0E;
            margin-top: 4px;
        }
    }

    .who {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #DC56C5;
            margin-top: 10px;
        }

        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #0E0E0E;
            margin-top: 4px;
        }
    }

    .prices {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #DC56C5;
            margin-top: 10px;
        }
    }

    .standart-ticket {
        display: flex;
        flex-direction: row;
        margin-top: 5px;

        & svg {
            height: 16px;
            margin-right: 13px;
        }

        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #0E0E0E;
        }
    }

    .vip-ticket {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        & svg {
            height: 16px;
            margin-right: 13px;
        }

        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #0E0E0E;
        } 
    }

    .buy-tickets {
        background: #4C00FE;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        padding: 10px 19px;
        border: solid 1px #4C00FE;
        margin-top: 10px;

        &:active {
            color: #4C00FE;
            background-color: #FFFFFF;
            border-color: #4C00FE;
            font-weight: 600;
        }
        &:hover{
            transition: 0.3s;
            color: #4C00FE;
            background-color: #FFFFFF;
            border-color: #4C00FE;
            font-weight: 600;
        }
    }

    .more-information {
        & button {
            border: 1px solid #4C00FE;
            border-radius: 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #4C00FE;
            background-color: white;
            padding: 3px 10px;
            height: 40px;
            margin-top: 25px;
            margin-left: 13px;

            &:active {
                border: 2px solid #DC56C5;
            }
        }
    }
// =================================================================================================================

    .main-section1{
        display: flex;
        justify-content: center;
    }
    .list-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 320px;
    }
    .event{
        width: 138px;
        height: 242px;
        list-style: none;
        padding: 10px 9px 0 0;
        margin-bottom: 33px;
    }
    .event:nth-child(odd){
        margin-left: 10px;
    }
    .event-19{
        margin-bottom: 0;
    }
    .event-20{
        margin-bottom: 0;
    }
    .ramka-event{
        width: 108px;
        height: 101px;
        border: 1px solid rgba(220, 86, 197, 0.3);
        border-radius: 50px 0px;
        margin-bottom: -99px;
        margin-left: 30px;
        box-sizing: border-box;
    }
    .event img{
        object-fit: cover;
        width: 128px;
        height: 161px;
        border-radius: 50px 0px;
        object-fit: cover;
    }
    .event h3{
        // height: 31px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #DC56C5;
        margin-top: 5px;
    }
    .event h4{
        // height: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        margin: 5px 0;
    }
    .event p {
        // height: 12px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        text-align: center;
    }
    .event-21{
        display: none;
    }
    // .nav-bar{
    //     margin-top: 25px;
    // }
    // .ul-nav-bar{
    //     display: flex;
    //     justify-content: center;
    // }
    // .p-nav{
    //     width: 6px;
    //     height: 17px;
    //     font-family: 'Montserrat';
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 17px;
    //     color: #FFFFFF;
    // }
    // .p-nav6{
    //     width: 9px;
    // }
    // .p-nav7{
    //     width: 17px;
    // }
    // .li-nav{
    //     width: 30px;
    //     height: 30px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     margin-right: 2px;
    //     border: 1px solid transparent;
    //     border-radius: 10px 0;
    //     transition: .3s border ease-in-out;
    // }
    // .li-nav:last-child{
    //     margin-right: 0;
    // }
    // .li-nav:hover{
    //     border: 1px solid #DC56C5;
    // }
    // .li-nav:focus{
    //     border: 1px solid #DC56C5;
    // }
}


@media screen and (min-width: 768px){
// ==================================================== modals ===================================================================
    .modal-window {
        width: 595px;
        height: 831px;
        
    }

    .svg-close {
        margin-top: 20px;
        margin-left: 543px;
    }

    .center {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 36px;
    }

    .head-image {
        height: 103px;
    }

    .main-image {
        display: block;

        & img {
            height: 416px;
            width: 233px;
        }
    }

    .info {
        display: flex;
        align-items: flex-start;

        & p {
            width: 265px;
            height: 100px;
            text-align: start;
        }
    }

    .when {
        align-items: flex-start;
    }

    .where {
        align-items: flex-start;
    }

    .who {
        align-items: flex-start;
    }

    .prices {
        align-items: flex-start;
    }

    .more-information {
        margin-top: 13px;
        margin-left: 165px;
    }
// =======================================================================================================================

    .list-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 650px;
    }
    .event{
        width: 196px;
        height: 312px;
        list-style: none;
        padding: 13px 14px 0 0;
        margin-bottom: 60px;
    }
    .event:nth-child(odd){
        margin-left: 0;
    }
    .ramka-event{
        width: 153px;
        height: 143px;
        margin-bottom: -130px;
        margin-left: 40px;
    }
    .event img{
        width: 180px;
        height: 227px;
    }
    .event h3{
        // height: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .event h4{
        // height: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .event p {
        // height: 17px;
        font-size: 14px;
        line-height: 17px;
    }
    .event-21{
        display: block;
    } 
}


@media screen and (min-width: 1200px){
// ==================================================== modals ===================================================================
    .modal-window {
        width: 930px;
        height: 1023px;
    }

    .svg-close {
        margin-left: 875px;
    }

    .main-image {
        & img {
            height: 641px;
            width: 360px;
        }
    }

    .info {
        & h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        & p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            width: 450px;
            height: 66px;   
        }
    }

    .when {
        & h2 {
            margin-top: 20px;
            font-size: 24px;
        }

        & p {
            font-size: 18px;
        }
    }

    .where {
        & h2 {
            margin-top: 20px;
            font-size: 24px;
        }

        & p {
            font-size: 18px;
        }
    }

    .who {
        & h2 {
            margin-top: 20px;
            font-size: 24px;
        }

        & p {
            font-size: 18px;
        }
    }

    .prices {
        & h2 {
            margin-top: 20px;
            font-size: 24px;
        }

        & p {
            font-size: 18px;
        }
    } 

    .buy-tickets {
        margin-top: 20px;
        margin-bottom: 18px;
    }

    .more-information {
        margin-left: 357px;
        margin-top: 45px;
    }
// =======================================================================================================================

    .list-cards{
        width: 1112px;
    }
    .event{
        margin-bottom: 50px;
        margin-right: 56px;
    }
    .event h3{
        // height: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .event h4{
        // height: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .event p {
        // height: 17px;
        font-size: 14px;
        line-height: 17px;
    }
    .event-21{
        display: none;
    }
    .event:nth-child(4n){
        margin-right: 0;
    }
}

//! ==================== pagination ====================
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    .pag-but{
        border: 1px solid transparent;
        background-color: transparent;
        border-radius: 10px 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF; 
        transition: .3s border ease-in-out, .3s color ease-in-out;
        

        &:hover{
            border: 1px solid #DC56C5;
            color: #DC56C5;
        }
    }
}