.wrapper{
    width: 270px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.select-btn{
    height: 40px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    // backdrop-filter: blur(10px);
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: #939393;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    svg{
        fill: #939393;
        width: 15px;
        height: 10px;
        transition: transform 0.3s linear;
    }
}

.active-border{
    border-radius: 20px 20px 0 0;
}

.wrapper.active .select-btn .icon-select-country{
    transform: rotate(-180deg);
}

.content{
    display: none;
    padding: 5px 30px;
    // backdrop-filter: blur(10px);
    // background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 20px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    .search-country{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .options{
        padding: 0;
        margin-top: 10px;
        max-height: 250px;
        overflow-y: auto;

        &::-webkit-scrollbar{
            width: 3px;
        }
        &::-webkit-scrollbar-track{
            background-color: transparent;
            border-radius: 25px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #939393;
            border-radius: 20px;
            height: 45px;
        }

        .countryLi{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            cursor: pointer;
            min-height: 40px;
            padding: 5px 10px;
            font-size: 21px;
            color: #CCCCCC;

            &:hover, &.selected{
                border-radius: 5px;
                background-color: #DC56C5;
            }
        }

        .countryLi-blue:hover{
            background-color: #5956DC;
        }
    }
}

.wrapper.active .content{
    display: block;
}

.content .search-form-country{
    position: relative;
}

.search-form-country .search-country{
    height: 40px;
    width: 150px;
    outline: none;
    font-size: 17px;
    padding: 0 55px 0 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #939393;
    color: #939393;
}

.search-form-country .icon-search-country{
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    fill: #939393;
    font-size: 20px;
    pointer-events: none;
    position: absolute;
}

.search-form-country input::placeholder{
    color: #bfbfbf;
}
