.dark::before {
    content: "☼";
    font-size: 50px;
    color: white;
}
.light::before{
    content: "☾";
    font-size: 50px;
    color: white;
}
.light-header{
    background-image: url("../images/white-header.jpg");
}
.light-main{
    background-image: url("../images/bg-body-white.jpg");
}
.light-footer{
    background-color: white;
}
