footer{
    margin:0; 
    background-color: rgba(14,14,14,1);
    @media screen and (min-width:480px) {
        div{
            padding: 1%;
        }
    }
    @media screen and (min-width:1200px) {
        div{
        padding: 2%;
        }
    }

}
