footer{
    margin:0;   
    background-color: black; 
    @media screen and (min-width:480px) {
        div{
            padding: 1%;
        }
    }
    @media screen and (min-width:1200px) {
        div{
        padding: 2%;
        }
    }

}
