header{
    background-image: url('../src/images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    background-blend-mode: darken;
    @media screen and (min-width:480px) {
        height: 364px;
        background: rgba(11, 11, 11, 0.5);
        background-image: url('../src/images/hero-tablet.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    @media screen and (min-width:1200px) {
        background-image: url('../src/images/hero-desktop.jpg');
        height: 450px;
    }
}

