@media screen and (min-width: 320px){
    main{
        height: 2905PX;
        background-color: black;
    }
}
@media screen and (min-width: 768px){
    main{
        height: 2750PX;
    }
}
@media screen and (min-width: 1112px){
    main{
        height: 1960PX;
    }
}